<!-- this is the page header to be displayed at the top of the page -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- space to stretch the header and push the icons to the right -->
    <span class="header-spacer"></span> 

    <!-- icons -->
    <mat-icon class="header-icon" aria-hidden="false" aria-label="User Icon"><fa-icon icon="user"></fa-icon></mat-icon>
    <mat-icon class="header-icon" aria-hidden="false" aria-label="Globe Icon"><fa-icon icon="globe-americas"></fa-icon></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>